header {
    padding: 50px;
    background-color: rgba(38, 165, 73, 0.34);
    font-size: 40px;
    text-align: center;
}

header > p{
    position: relative;
}

.currentCurrencies{
    position: absolute;
    top: 60px;
    right: 50px;
    font-size: 30px;
}

.currentCurrencies span {
    padding: 0 10px;
}